<html>
<head>
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <nav>
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/contact">Contact</a>
    </nav>
    <section>
        <h1>About me</h1>
        <P>Saya memiliki latar belakang pendidikan yang beragam. Saya memulai pendidikan formal di SD Assalaam bandung, kemudian melanjutkan ke SMP Assalaam dan SMA PGII 1 Bandung. Lalu sekarang, saya sedang mengikuti program studi S1 program studi Teknik Elektro di Universitas Padjadjaran. saat ini saya juga aktif mengikuti berbagai kepanitian yang berlangsung di ranah himpunan mahasiswa teknik elektro .</P>
        <p>Saya seorang yang gemar dalam hal yang berhubungan dengan multimedia atau musik. Saya juga senang melakukan kegiatan di luar ruangan, seperti badminton dan berlari.Saya memiliki keahlian dalam bidang fotografi, serta kemampuan menganalisa yang baik. Saya juga senang belajar hal baru dan selalu berusaha untuk meningkatkan kemampuan saya.</p3>
            <img src="{{ url_for('static', filename='keahlian.jpg') }}" alt="Deskripsi Gambar" class="img-fluid">


    </section>
</body>
</html>
