<html>
<head>
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <nav>
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/contact">Contact</a>
    </nav>
    <section>
        <h1>Welcome to My Personal Website</h1>
        <p>Halo teman-teman! Saya Rayyan Ramadhan, seorang mahasiswa Teknik Elektro Universitas Padjadjaran tahun pertama yang gemar dalam hal yang berkaitan dengan teknologi.Saya merupakan anak kedua dari dua bersaudara.Saya lahir pada tahun 2006 dan bertempat lahir di Bandung. Blog ini adalah tempat di mana saya menuangkan ide-ide, berbagi wawasan, serta mendokumentasikan perjalanan saya .
            Saya percaya bahwa setiap pengalaman, sekecil apa pun, memiliki cerita yang bisa menginspirasi orang lain. Oleh karena itu, melalui blog ini, saya berharap bisa memberikan manfaat, baik dalam bentuk informasi, motivasi, atau sekadar hiburan bagi para pembaca.</p>
            <img src="{{ url_for('static', filename='Rayyan.JPG') }}" alt="Deskripsi Gambar" class="img-fluid">

    
    </section>
</body>
</html>
